
.slick-arrow::before {
  color: black !important;
}
.slick-slider {
  margin-left: 25px !important;
  margin-right: 25px !important;
}
.pointer {
  cursor: pointer;
  user-select: none;
}

.active {
  font-weight: bold;
  border-bottom: 3px solid #007bff;
}

.stars button {
  border:none;
  background:transparent;
  color:#007bff;
}

.stars button .filled {
  color: gold;
}
